@model List<TicketCommentView>
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<div class="card-header">
    <i class="fas fa-list-ul"></i>
    Comment List
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead class="card-header">
                <tr>
                    <th>Id</th>
                    <th>Comment</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>TicketId</th>
                    <th>Creator</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model)
                {
                <tr>
                    <td>@record.Id</td>
                    <td>@record.Comment</td>
                    <td>@record.Created</td>
                    <td>@record.Updated</td>
                    <td>@record.TicketId</td>
                    <td>@record.Creator.DisplayName</td>
                    @if (record.IfEdit == true)
                    {
                        <td>
                            <a href="@Url.Action("EditComment", "TicketComment", new { id = record.Id })"><i class="fas fa-edit"></i></a>
                            <a href="@Url.Action("DeleteComment", "TicketComment", new { id = record.Id })"><i class="fas fa-trash"></i></a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <span>&empty;</span>
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

