@model  DashboardView
@{
    ViewBag.Title = "Home Page";
}

<div id="content-wrapper">

    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
        </ol>

        <!-- Icon Cards-->

        <div class="row">
            @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
            {
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-primary o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-comments"></i>
                            </div>
                            <div class="mr-5">@Model.NumberOfProjects <span>&emsp;</span>My Projects</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="@Url.Action("ProjectList", "Project")">
                            <span class="float-left">@*<a href="@Url.Action("Index","Project")"></a>*@View Details</span>
                            <span class="float-right">
                                <i class="fas fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-warning o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-list"></i>
                            </div>
                            <div class="mr-5">@Model.NumberOfTickets <span>&emsp;</span>My Tickets</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="@Url.Action("Index", "Ticket")">
                            <span class="float-left"><strong>@Model.OpenOfTickets</strong> Open</span>
                            <span class="float-left"><span>&emsp;&emsp;</span><strong>@Model.ResolvedOfTickets</strong> Resolved</span>
                            <span class="float-left"><span>&emsp;&emsp;</span><strong>@Model.RejectedOfTickets</strong> Rejected</span><span>&emsp;</span>
                            <div><span class="float-left">View Details</span></div>
                            <span class="float-right">
                                <i class="fas fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            }
            @if (User.IsInRole("Submitter") || User.IsInRole("Developer"))
            {
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-success o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-shopping-cart"></i>
                            </div>
                            <div class="mr-5"><strong>@Model.AssignedOfProjects</strong> Projects Assigned!</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="@Url.Action("MyProject", "Project")">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                                <i class="fas fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            }
            @if (User.IsInRole("Submitter"))
            {
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-danger o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-life-ring"></i>
                            </div>
                            <div class="mr-5"><strong>@Model.CreatedOfTickets</strong> Tickets Created!</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="@Url.Action("MyTickets", "Ticket")">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                                <i class="fas fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            }
            @if (User.IsInRole("Developer"))
            {
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-danger o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-life-ring"></i>
                            </div>
                            <div class="mr-5"><strong>@Model.AssignedOfTickets</strong> Ticket Assigned!</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="@Url.Action("FromProjects", "Ticket")">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                                <i class="fas fa-angle-right"></i>
                            </span>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- /.content-wrapper -->
<!-- /#wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="~/vendor/chart.js/Chart.min.js"></script>
<script src="~/vendor/datatables/jquery.dataTables.js"></script>
<script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/js/sb-admin.min.js"></script>

<!-- Demo scripts for this page-->
<script src="~/js/demo/datatables-demo.js"></script>
@*<script src="~/js/demo/chart-area-demo.js"></script>*@



